# Basic Haproxy config for load balancing slanger instances
# This config assumes that slanger instances are started with the following ports:
#    800X for sockets
#    900X for api

global
 ulimit-n 120014
 maxconn 60000
 tune.ssl.default-dh-param 2048
 log 127.0.0.1 local2 debug
 tune.bufsize 102400

defaults
 mode http
 log global
 option httplog
 option  http-server-close
 option  dontlognull
 option  redispatch
 option  contstats
 retries 3
 backlog 10000
 timeout client          25s
 timeout connect          5s
 timeout server          25s
 timeout tunnel        3600s
 timeout http-keep-alive  1s
 timeout http-request    15s
 timeout queue           30s
 timeout tarpit          60s
 default-server inter 3s rise 2 fall 2

frontend ws
 maxconn 50000
 bind *:8080 name ws
 #bind *:8081 name wss ssl crt /etc/haproxy/ssl.pem
 default_backend ws

frontend api
 maxconn 50000
 bind *:9000 name api
 default_backend api


backend ws
 option httpchk GET / HTTP/1.1\r\nConnection:\ upgrade\r\nUpgrade:\ websocket
 http-check expect rstatus 10[01]
 server sock1 10.10.10.1:8001 check
 server sock2 10.10.10.2:8002 check

backend api
 option httpchk GET /__sinatra__/404.png HTTP/1.1
 server web1 10.10.10.1:9001 check
 server web2 10.10.10.2:9002 check
