!!!
%html
  %head
    %title Chat Room
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html', charset: 'utf-8' }
    %link{ rel: 'stylesheet', href: 'screen.css', type: 'text/css' }

  %body
    %div{ id: 'main'}
      %ol{ id: 'messages' }
      %form{ action: '/chat', method: 'POST' }
        %input{ type: 'text', id: 'message', name: 'message' }
    %div{ id: 'sidebar' }
      %ol{ id: 'presence' }
    %script{src: "//js.pusher.com/2.2/pusher.min.js"}
    %script{src: "/jquery.js"}
    :javascript
    
      var pusher = new Pusher('#{Pusher.key}', {
        wsHost: "0.0.0.0",
        wsPort: "8080",
        wssPort: "8080",
        enabledTransports: ['ws'],
        log: function(data) {
          console.log('\t\t', data)
        }
      });

      var myChannel = pusher.subscribe('presence-channel');
      myChannel.bind('chat_message', function(msg) {
        $('#messages').append("<li><strong>" + msg['sender'] + "</strong>: " + msg['body'] + "</li>")
      })

      myChannel.bind('pusher:subscription_succeeded', function(members) {
        members.each(function(member) {
          $('#presence').append($('<li>' + member.info.name + '</li>').attr('id', member.id))
        })
      })

      pusher.bind('pusher:connection_disconnected', function(ev) {
        $('#presence').empty()
         $('#messages').append($('<li class="info">**** Unexpectedly lost connection to server ****</li>'))
      })

      myChannel.bind('pusher:member_added', function(member) {
        $('#messages').append($('<li class="info">**** ' + member.info.name + ' entered the chat ****</li>'))
        $('#presence').append($('<li>' + member.info.name + '</li>').attr('id', member.id))
      })

      myChannel.bind('pusher:member_removed', function(member) {
        $('#messages').append($('<li class="info">**** ' + member.info.name + ' left the chat ****</li>'))
        $('#' + member.id).remove()
      })

      $('#main form').submit(function(ev) {
        $.post('/chat', { message: $('#message').val() })
        $('#message').val(null)
        return false
      })

      $('#message').focus()
