!!!
%html
  %head
    :css
      * {
        margin: 0;
        padding: 0;
      }
      html, body {
        height: 100%
      }
      body {
        font-family: "Arial";
      }
      #container {
        margin: auto;
        width: 800px;
        text-align: center
      }
      h1, h2 {
        font-size: 400%;
        color: #333;
        text-stroke: 1px solid #000
      }
    %title WebSocket Disco
  %body
    %div#container
      %h1 Slanger is processing
      %h2
        %span#count
          0
        Messages/Second!!!1
    %script{ src: "//js.pusher.com/2.2/pusher.min.js" }
    :javascript
      var count = 0

      var pusher = new Pusher('#{Pusher.key}', {
        wsHost: "0.0.0.0",
        wsPort: "8080",
        wssPort: "8080",
        enabledTransports: ['ws'],
        log: function(data) {
          console.log('\t\t', data)
        }
      });

      pusher.bind('pusher:error', function(data) { alert(data['message']) })
      var myChannel = pusher.subscribe('#{@channel}');
      myChannel.bind('an_event', function(data) {
        document.body.setAttribute('style', 'background-color: ' + data['color'] + ';' )
        count++
      })
      window.setInterval(function() {
        document.getElementById('count').innerHTML = count
        count = 0
      }, 1000)
